.button {
  font: inherit;
  border: 1px solid #4f005f;
  background: #006141;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #68ceac;
  border-color:#006141;
  color:black;
}

.button:focus {
  outline: none;
}